.modal-overlay {
    position: sticky;
    top: 57px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
     border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.modal-content {

    border-radius: 15px;
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
    padding: 17px;
    position: relative;
    scrollbar-color: transparent transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .menu {
        max-width: 1200px;
        border-radius: 20px;
        padding: 20px;
    }
}

.modal-close {
    position: absolute;
    top: 28px;
    right: 80px;
    background: $gold-accent;
    color: #000;
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    

    @media screen and (max-width:1250px) {
        top: 27px;
        right: 27px;
    }
        
}